.pad{
    padding: 10px;
}

.mag{
    margin:10px;
}

.nav{
    width: 100%;
    height: 64px;
    background-color: #2aabd2;

}
.nav_logo{
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
}

td{
    width: 50%;
}

.box{
    width: 400px;
}
.search{
    margin-top: 10px;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    padding: 10px;


}
.item{

    width:350px;
    height: 430px;
    float: left;
    margin: 10px;
    border:1px solid black;
    border-radius: 5px;
}
.picture{
    width: 300px;
    height:300px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 10px;
}
.title{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 22px;
    text-align: center;

}
.des{
    text-align: center;

}
.borrowbtn{
    margin-left: 40%;
}
.bheader{
    float: left;
    margin-top: 10px;
    font-size: 35px;
    font-family: 'Gloria Hallelujah', cursive;

}
#bdescription{
    margin-top: 5px;
    width: 500px;
}

.picture1{
    width: 300px;
    height:400px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 10px;
}
.scrollit {
    overflow:scroll;
    height:100px;
}
.picb{
    width:150px;
    height: 150px;
    float: left;
    margin: 10px;
    border:1px solid black;
    border-radius: 5px;

}

